<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h2><%= @auction.title %></h2>
    <p><%= @auction.details %></p>
    <div class="bid-errors"></div>
    <%= simple_form_for [@auction, @bid], remote: true do |f| %>
      <%= f.input :title, :as => :hidden, :input_html => { :value => "" } %>
      <%= f.input :amount, class: "bid-input" %>
      <%= f.submit class: "btn btn-info" %>
    <% end %>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h4><strong>Current Price: $<%= @auction.current_price %></strong></h4>
    <div class="well">
      <% if @auction.state == "reserve_met" %>
        <h3>Reserve Met</h3>
      <% else %>
        <h3> Reserve NOT Met</h3>
      <% end %>
      <small>Ends on: <%= @auction.end_date %></small>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
  <h3>Previous bids</h3>
    <div class="bids">
      <% @auction.bids.order("amount DESC").each do |bid| %>
        <%= render partial: "auctions/bid", locals: { bid: bid } %>
      <% end %>
    </div>
  </div>
</div>